<div class="container">
  <div *ngIf="groupedCarts && groupedCarts.length > 0" class="row mt-4">
    <div class="col-md-4" *ngFor="let cartItem of groupedCarts">
      <div class="card mb-3">
        <img [src]="cartItem.image" class="card-img-top" alt="{{ cartItem.productName }}">
        <div class="card-body">
          <h5 class="card-title">{{ cartItem.productName }}</h5>
          <p class="card-text">Price: {{ cartItem.price }}$</p>
          <p class="card-text">Quantity: <span class="text-success">{{ cartItem.quantity }}</span></p>
          <button (click)="removeFromCart(cartItem.id)" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-4">Your Cart</h2>
          <div class="total-price bg-primary text-white p-3 rounded">
            Total Price: {{ calculateTotalPrice() | currency:'USD':'symbol':'1.2-2' }}
          </div>
        </div>
        <div class="col-md-6">
          <p class="text-muted">Bienvenue sur ZAg-shop ! Pour passer commande, explorez notre catalogue, ajoutez vos articles au panier, complétez les informations de livraison et de paiement, puis suivez votre livraison avec notre service clientèle dédié. Merci pour votre confiance !</p>
        </div>
      </div>
    </div>
  </footer>

  <div *ngIf="!groupedCarts || groupedCarts.length === 0" class="text-center my-5">
    <h3 class="text-muted"><i class="bi bi-cart-x-fill"></i> Your cart is empty.</h3>
  </div>
</div>
